*{
    margin: 0px;
    padding: 0px;
    font-family: "SUSE", sans-serif;
}

body{
    background-color: rgb(43, 43, 43);
    color: white;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

.heading{
    font-size: 50px;
    margin-bottom: 60px;
}

.choices{
    display:flex;
    gap: 40px;
    margin-bottom: 50px;
}

img{
    width:70px;
}

.choice{
    background-color: rgb(43, 43, 43);
    border: none;
    padding: 40px;
    outline: 4px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.choice:hover{
    outline: 4px solid #266DD3;
}

.result{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
}

.message{
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}
.display-choice{
    display: flex;
    align-items: center;
    gap:10px;
}
.display-choice img{
    width:30px;
}

.score{
    display:flex;
    gap:20px;
    margin-bottom: 30px;
}

.reset-button{
    background-color: #266DD3;
    border: none;
    color: white;
    padding:10px 15px;
    font-size: 16px;
    border-radius:10px;
}

.reset-button:hover{
    background-color: #1e5fbb;
    cursor: pointer;
}

@media(max-width: 600px) {
    .heading{
        font-size: 30px;
    }
    img{
        width: 30px;
    }
    .choice{
        padding:15px;
        outline: 2px solid white;
    }
    .choices{
        gap:15px;
    }
    .result{
        font-size:16px;
    }
}